@model Login_MVC_.Models.Account

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login1</title>
    <link href="~/App_Themes/css/base.min.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("VerifyAsync", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="app-container app-theme-white body-tabs-shadow">
            <div class="app-container">
                <div class="h-100">
                    <div class="h-100 no-gutters row">
                        <div class="d-none d-lg-block col-lg-4">
                            <div class="slider-light">
                                <div class="slick-slider">
                                    <div>
                                        <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-plum-plate" tabindex="-1">
                                            <div class="slide-img-bg" style="background-image: url('../../App_Themes/images/originals/city.jpg');"></div>
                                            <div class="slider-content">
                                                <h3>Perfect Balance</h3>
                                                <p>ArchitectUI is like a dream. Some think it's too good to be true! Extensive collection of unified React Boostrap Components and Elements.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark" tabindex="-1">
                                            <div class="slide-img-bg" style="background-image: url('../../App_Themes/images/originals/citynights.jpg');"></div>
                                            <div class="slider-content">
                                                <h3>Scalable, Modular, Consistent</h3>
                                                <p>Easily exclude the components you don't require. Lightweight, consistent Bootstrap based styles across all elements and components</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-sunny-morning" tabindex="-1">
                                            <div class="slide-img-bg" style="background-image: url('../../App_Themes/images/originals/citydark.jpg');"></div>
                                            <div class="slider-content">
                                                <h3>Complex, but lightweight</h3>
                                                <p>We've included a lot of components that cover almost all use cases for any type of application.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                            <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                                <div class="app-logo"></div>
                                <h4 class="mb-0">
                                    <span class="d-block">Welcome back,</span>
                                    <span>Please sign in to your account.</span>
                                </h4>
                                <h6 class="mt-3">No account? <a href="javascript:void(0);" class="text-primary">Sign up now</a></h6>
                                <div class="divider row"></div>
                                <div>
                                    <form class="">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { placeholder = "Username / Email", @class = "form-control" } })
                                                    @Html.ValidationMessageFor(m => m.username, "", new { @style = "color: red;" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password here...", @class = "form-control" } })
                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color: red;" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="position-relative form-check"><input name="check" id="exampleCheck" type="checkbox" class="form-check-input"><label for="exampleCheck" class="form-check-label">Keep me logged in</label></div>
                                        <div class="divider row"></div>
                                        <div class="d-flex align-items-center">
                                            <div class="ml-auto">
                                                <a href="javascript:void(0);" class="btn-lg btn btn-link">Recover Password</a>
                                                <button class="btn btn-primary btn-lg" type="submit">Login to Dashboard</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="form-horizontal">
                <h4>Login</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>*@
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/metismenu"></script>
    <script src="~/App_Themes/js/scripts-init/app.js"></script>
    <script src="~/App_Themes/js/scripts-init/demo.js"></script>
    <script src="~/App_Themes/js/vendors/carousel-slider.js"></script>
    <script src="~/App_Themes/js/scripts-init/carousel-slider.js"></script>
</body>
</html>


@*@model Login_MVC_.Models.Account

    @{
        ViewBag.Title = "Login";
        Layout = "~/Views/_LayoutPage1.cshtml";
    }

    <h2>Login</h2>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.14/jquery.validate.unobtrusive.min.js"></script>

    <div class="login">
        <h2 class="active"> sign in </h2>

        <h2 class="nonactive"> sign up </h2>
        @using (Html.BeginForm("VerifyAsync", "Account", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.username)
                @Html.TextBoxFor(m => m.username, new { @class = "text" })
                @Html.ValidationMessageFor(m => m.username, "", new { @style = "color: white;" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "text" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color: white;" })
            </div>

            <div class="form-group">
                <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
                <label for="checkbox-1-1">Keep me Signed in</label>
            </div>

            <div class="form-group">
                <button type="submit" class="signin">
                    Sign In
                </button>
            </div>

            <hr>

            <div class="form-group">
                <a href="#">Forgot Password?</a>
            </div>
        }
    </div>*@



